/* Shelve-It Homepage */

/* The body has an iamge that spans the entire size of the page.
   Everything is centered and in white. */

body {
    background: #333;
    background-size: cover;
    padding: 10px;
    color: white;
    text-align: center;
    
    

   
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

.site-wrapper {
    display: table;
    width: 120%;
    height: 100%;
    margin: auto;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    width: auto;
}

/* The footer always appears at the bottom of the browser window. */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}




@media (min-width: 1200px) {
    .modal-xlg {
       width: 90%; 
    }
 }

 input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

