/* Style for Shelve-It Curate your books Site */


/* Style  navbar + logo. */

div.navbar-header {
    
    /* float: left; */
    
    border-radius: 1em;
    color: gray;
    margin-top: 7px;
    margin-right: 7px;
    
    text-align: center;
    
}
#container book-shelf{
  background-color:lightgray;
}

div.navbar-header a:visited {
  color:	#69c3be;
}

div.logo-header img{
  
  display:block;
  margin: 0px auto;
  
}

#display-components {
    margin-top: 7px;
    
    
    
    
    
}

#comments-list {
  margin-top:25px;
}

#book-description {
  margin-top: 10px;
}

/* unvisited link */
a:link {
  color:#345bad;
}

/* visited link */
a:visited {
  color:	#345bad;
}

/* mouse over link */
a:hover {
  color: lightblue;
}

/* selected link */
a:active {
  color:#69c3be	;
}


.btn-group 
{ 
  width:100%;
  height:120%:
  text-align: center;
  text-overflow: ellipsis;
  border-collapse:collapse;
  border-radius: 1em;
}
.btn-group .btn
{
  
  width:40%;
 
}


.bookrows img {
  width:100px;
  margin: auto;
  
}

.container {
  width:100%;
}
.cover-bookdetail {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.cover-bookdetail img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


#book-comment-detail {
  align-content: center;
}

table{
 
  border-width: 2em;
  width:90%;
  
  border-collapse:collapse;
  border-color: brown;
}

.blue{
  border:2px solid #1ABC9C;
}

.blue thead{
  background:#1ABC9C;
}

.purple{
  border:2px solid #9B59B6;
}

.purple thead{
  background:#9B59B6;
}

thead{
  color:black;
  
  
}

th,td{
  text-align:center;
  padding:5px 0;

}


tbody tr:nth-child(even){
  color:black;
  background-url:url("../images/paper.png");
  
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
  background-image: url("../images/retina_wood.png");

  
}

button {
  border-radius: 1em;

}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}

/* .slideshow {
    position: relative;
    overflow: hidden; 
  }
  .images {
    background: url("slideshow.jpg");
    background-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 10s linear infinite;
  }
  @keyframes slideshow {
    0%    { left: 0; }
    100%  { left: -200%; }
  } */


/* img.bookrows{
    height: 100px;
    width: 100px;
} */

li {
    vertical-align: middle;
    display: inline;
    margin-right:10px;}

/* all-books styling tables */

div.summary img {
    width: 15em;
}

div.summary .comment {
    margin: 0.5em 0;
    font-size: 150%;
    font-weight: bold;
}


/* book-detail-page */

.warning {
    color: red;
}


/* login form */

.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

