<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo - Virtual Bookshelf - {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">

      <!-- Show flashed messages -->
      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
      {% endwith %}
    
    {% block body %}{% endblock %}
    </div>
  </body>
</html>
