{% extends 'base.html' %}

{% block head %}
  
{% endblock head %}

{% block body %}
  <h2>Welcome to a Virtual Bookshelf Demo Site</h2>
  
    <div class='form'>
        <form method='POST'>
        <label for="shelfname">Please type in your name or name of bookshelf</label>
        <input type="text" name="shelfname"> <br>

        <label for="fileElem">Select an image of a stack of books</label>
        <input type="file" id="bookstack" name="books" accept="image/png, image/jpeg", enctype="multipart/form-data"><br>

        <!-- TO DO : ALSO CREATE IMPORT FOR IMAGE URLS -->
        <button type='submit'> Click here to upload</button>
        </form>
    </div>

  <h3> TEXT FROM IMAGE OF BOOKS</h3>
  <div class="text"></div>
    {% if response %}
    <img src= "static/images/{{file}}"> <br>

    {{response.text_annotations[0].description}}
    {% endif %}
    
  <a href="/">Go Home</a> 
  <a href="/bookshelf">Your Bookshelf</a> 
  <a href="/login">Login</a> 
  <a href="/register">Register</a> 
  <a href="/upload_books">Upload Books</a>
    

{% endblock %}

<!-- NEED TO INSTALL JQUERY FOR THIS TO WORK !!
<script>
    $.get('/return-book-text', (response)=>{

       $('.text').html(response);
    });
</script> -->
