{% extends 'base.html' %}

{% block head %}
  
{% endblock head %}

{% block body %}
  <h2>Welcome to a Virtual Bookshelf Demo Site</h2>
    <div class='form'>
        <form method='POST'>
        <label for="username">Please type in your name or name of bookshelf</label>
        <input type="text" name="username"> <br>

        <label for="fileElem">Select an image of a stack of books</label>
        <input type="file" id="bookstack" name="books" accept="image/png, image/jpeg", enctype="multipart/form-data"><br>

        <!-- TO DO : ALSO CREATE IMPORT FOR IMAGE URLS -->
        <button type='submit'> Click here to upload</button>
        </form>
    </div>

    <h3> TEXT FROM IMAGE OF BOOKS</h3>
    <div class="text"></div>
      {% if response %}
      <img src= "static/images/{{file}}"> <br>

      {{response.text_annotations[0].description}}
      {% endif %}



    <h3> PROJECT DESCRIPTION </h3>
        <ul>
            <li>Summary: Make a virtual bookself! Send the bookshelf to your email or text. Add books via text or pictures<br>
            </li>
            <li>MVP features (1-3):
                    <div class= 'inner-list'>
                    <ol> Make a unique bookshelf by adding books either with a picture, form entry</ol>
                    <ol> Send bookshelf to self (email or text) with links to reserve books (library or bookstore)</ol>
                    <ol>Save bookshelf</ol>
                    </div>

            </li>
            
            
            <li>2.0 features (1-3; these aren’t set in stone, but include what you’re thinking about):
                <ol> label books with want to read, read, liked, didn't like</ol>
                <ol>send bookshelf to friends</ol>
                <ol>have a search feature for books to add to bookshelf</ol>
                
            </li>
            <li>3.0/nice-to-have features (as many as you’d like!):
                <ol>have a discussion feed on bookshelf for friends to post things</ol>
                <ol> include a recommender system for book recs based on bookself</ol>
            </li>
            <li>API’s you’re planning to use:
                <ol> Google CloudVision * it also has image finders capabilities for search and lookup options</ol>
                <ol>GoodReadsAPi</ol>
                <ol>Instagram Hashtags (kind of make my own API if Instagram is too $$(</ol>
                <ol>Twilio or Mailgun to send emails or texts with Info</ol>
            </li>

            <li> What data you’re planning to store in your database:
                <ol> Book Title, Author, Bookshelves created by User, Images, ratings</ol>
            </li>
            <li> Anything else about the project you’d like your advisor to know or would like their feedback on:
                <ol>I'm probably going to store images and files in an S3 bucket and want to have a really cool UI</ol>
            </li>
            </ul>
{% endblock %}

<!-- NEED TO INSTALL JQUERY FOR THIS TO WORK !!
<script>
    $.get('/return-book-text', (response)=>{

       $('.text').html(response);
    });
</script> -->
