<!DOCTYPE html>
<htmL>
    <!-- REACT SCRIPTS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src='https://unpkg.com/react-router@5.2.0/umd/react-router.min.js'></script>
    <script src='https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js'></script> 
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.js" crossorigin></script>

    <div id="root">

    </div>
    <!-- MY JS SCRIPTS-->
    <script src="/static/js/book_detail.jsx" type="text/jsx"></script>
    <script src="/static/js/add_books.jsx" type="text/jsx"></script>
    <script src="/static/js/register_login_logout.jsx" type="text/jsx"></script>
    <script src="/static/js/root_filter.jsx" type="text/jsx"></script>
   
  
</htmL>